#card{
    width: 340px;
    height: 450px;
    margin: 1% auto; 
    text-align: center;
    transition: transform 100ms ease-in;
    box-shadow: 5px 10px 8px #c2bebe ;
}

#card:hover{
    transform: scale(1.07);
}