.nav{
    width: 1535px;
}

.logo{
    width: 100px;
    height: 50px;
}
#search{
    margin-left: 28rem;
}
#searchbar{
    width: 20rem;
}

.filter{
    width: 10rem;
}

/* #searchbtn{
    margin: 5rem 0rem 0rem 50rem;
} */